*{
    margin:0px;
    border:0px;
    box-sizing:border-box;
}
.parent{
    /*display : flex;
    justify-content: center;*/
   /* align-items:center;*/
  
    height:400px;
    width:300px;
   
    border: black 2px solid;
    margin-top:50px;
    margin-left:500px;
}

.title{
    margin-top:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align:center;
}

.screen{
    margin-left:12px;
    margin-top:20px;
    border: 1px solid black;
    height:40px;
    width:270px;

}

.screen input{
    border:0;
    outline:0;
    height:33px;
    width:260px;
    text-align: right;

}

.switches-1 {
    margin-top:100px;
    display:flex;
    justify-content: space-around;
}
.switches-2,.switches-3,.switches-4{
    margin-top:10px;
    display:flex;
    justify-content: space-around;
}
.button,.button-type-2,.button-operation{
    border-radius: 25%;
    height:40px;
    width:40px;
    background-color: black;
    color:white;
}

.button:active{
    background-color: beige;
    color:black;
}

@media (width:600px){

}
